[include fluidd.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_1390FF10A39869AFF863405EC62000F5-if00


[virtual_sdcard]
path: /home/joseph/printer_1_data/gcodes

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 15000
max_accel_to_decel: 7500
max_z_velocity: 8
max_z_accel: 50
SQUARE_CORNER_VELOCITY: 5

[homing_override]
axes: yxz
gcode:
    G28 Y 
    G4 P500
    G28 X0
    G0 X0
    G28 Z


##### FANS

[fan]
pin: P2.3
hardware_pwm: false

[heater_fan extruder_fan]
pin: P2.4
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

####### AXISES


[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
rotation_distance: 40
microsteps: 32
endstop_pin: tmc2209_stepper_x:virtual_endstop # pin !P1.29
position_endstop: -12
position_min: -12
position_max: 270
homing_retract_dist: 0
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: P1.10
interpolate: True
run_current: 0.6
stealthchop_threshold: 999999
diag_pin: ^P1.29
driver_SGTHRS: 70

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 32
endstop_pin: tmc2209_stepper_y:virtual_endstop # pin !P1.28
position_endstop: -15
position_min: -15
position_max: 290
homing_retract_dist: 0
homing_speed: 60

[tmc2209 stepper_y]
uart_pin: P1.9
interpolate: True
run_current: 0.55
stealthchop_threshold: 999999
diag_pin: ^P1.28
driver_SGTHRS: 100

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
rotation_distance: 2
microsteps: 16
endstop_pin: !P1.27
#position_endstop: 0
position_min: -2.5
position_max: 400
homing_speed: 5


[tmc2209 stepper_z]
uart_pin: P1.8
interpolate: True
run_current: 1.1
stealthchop_threshold: 999999



[heater_bed]
heater_pin: P2.5 #ok
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25 #P0.23
control: pid
control = pid
pid_Kp=64.927 
pid_Ki=0.889 
pid_Kd=1185.734
min_temp: 0
max_temp: 85
max_power: 0.8

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
rotation_distance: 22.588	
gear_ratio: 50:17				
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
#control: pid 
#pid_Kp=28.965 pid_Ki=1.596 pid_Kd=131.428 without fan   ;  pid_Kp=29.474 pid_Ki=1.585 pid_Kd=137.054 with fan
#pid_kp: 29.474
#pid_ki: 1.585
#pid_kd: 137.054
min_temp: 0
max_temp: 280
max_extrude_only_distance: 600
pressure_advance = 0.035

[tmc2209 extruder] 
uart_pin: P1.4
interpolate: True
run_current: 0.3
stealthchop_threshold: 999999



###input shaping 

[input_shaper]
shaper_freq_x: 40.6
shaper_freq_y: 38.4
shaper_type_x: mzv
shaper_type_y: mzv




########  Gcode and Macro


[display_status]

[pause_resume]


[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL


[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}


[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  TURN_OFF_HEATERS
  CLEAR_PAUSE
  SDCARD_RESET_FILE
  CANCEL_PRINT_BASE


[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[exclude_object]

##### custom gcodes

[gcode_macro MACRO_PAUSE]
description: Pause the actual running print
gcode:
  PAUSE
  _TOOLHEAD_PARK_PAUSE_CANCEL


[gcode_macro PART_COOLING_FAN_ON]
gcode:
    M106 S255

[gcode_macro PART_COOLING_FAN_OFF]
gcode:
    M106 S0


[gcode_macro PRIME_EXTRUDER]
gcode:
    M117 Priming
    G92 E0
    G1 X10.1 Y20 Z2.0 F2000
    G1 X10.1 Y200 Z0.28 F2000.0 E15; Draw the first line
    G1 X10.4 Y200 Z0.28 F5000.0; Move to the side a little
    G1 X10.4 Y20.0 Z0.28 F2000.0 E30; Draw the second line
    G92 E0 
    G1 F2400 E-0.7 # Small retract to remove pressure
    G1 Z2.0 F3000 ;Move Z Axis up



[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state




###### Board stuff
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"
  
 # See the sample-lcd.cfg file for definitions of common LCD displays. 

# 128x64 Discount
[display]
lcd_type: st7920
cs_pin: EXP1_4
sclk_pin: EXP1_5
sid_pin: EXP1_3
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1


###### bed leveling



[bed_mesh]
mesh_min: 10,20
mesh_max: 250,280
probe_count: 3,3
fade_start: 1.0
fade_end: 10.0



[menu __main __setup meshBed]
type: list
enable: {not printer.idle_timeout.state == "Printing"}
name: Mesh Bed Level
	
[menu __main __setup meshBed start]
type: command
name: Start Callibration
gcode: 
	G28
	BED_MESH_CALIBRATE
	TESTZ Z=-5

[menu __main __setup meshBed zposition]
type: input
enable: {not printer.idle_timeout.state == "Printing"}
name: Z Pos=:{'%05.3f' % menu.input}
input: {printer.toolhead.position.z}
input_step: 1.0

[menu __main __setup meshBed zNudgeDown]
type: command
name: Nudge Down
gcode: TESTZ Z=-0.025

[menu __main __setup meshBed zNudgeUp]
type: command
name: Nudge Up
gcode: TESTZ Z=0.025

[menu __main __setup meshBed next]
type: command
name: Next
gcode: 
	ACCEPT
	TESTZ Z=-5
	
[menu __main __setup meshBed save]
type: command
name: Save & Restart
gcode: SAVE_CONFIG

[endstop_phase]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.600000, -0.612500, -0.500000
#*# 	  -0.100000, -0.450000, -0.700000
#*# 	  0.500000, -0.400000, -0.800000
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 3
#*# max_y = 280.0
#*# mesh_x_pps = 2
#*# max_x = 250.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.135
#*# pid_ki = 1.701
#*# pid_kd = 142.445
#*#
#*# [stepper_z]
#*# position_endstop = -0.845
